/*
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
*/

.page {
    width: 100%;
    display: table;
    vertical-align: middle;
    page-break-after: always;
}

.centered {
    vertical-align: middle;
    display: table-cell;
}

a.button {
    appearance: button;

    text-decoration: none;
    color: initial;
}

h1 {
    text-align: center;
    font-weight: normal;
}

.center-cross {
    stroke: black;
    stroke-width: 0.1;
}

.slim-rim {
    fill: none;
    stroke: black;
    stroke-width: 0.2;
}

.dashed-line {
    stroke: grey;
    stroke-dasharray: 0.6;
    stroke-width: 0.1;
}

.dashed-rim {
    fill: none;
    stroke: grey;
    stroke-dasharray: 2;
    stroke-width: 0.1;
    display: none; /* only in print mode */
}

.daynumbers-band {
    fill: #fff166;
}

.flapsicle {
    fill: #fff166;
}

#daynumbers-group {
    cursor: pointer;
    user-select: none;
}

.weekdays-disc {
    fill: white;
}

.tick {
    stroke: black;
    stroke-width: 0.1;
}

.big-tick {
    stroke: black;
    stroke-width: 0.2;
}

.label-day {
    font-size: 2.2px;
    fill: blue;
    user-select: none;
}

.label-day-weekend {
    font-weight: bold;
}

.label-daynumber {
    font-size: 3px;
    fill: #bbaf3f;
}

.label-month {
    font-size: 4px;
    user-select: none;
}

.leap-month {
    /*fill: red;*/
}

.label-century {
    font-size: 6px;
    font-weight: bold;
}

.label-year {
    font-size: 6px;
    fill: blue;
    user-select: none;
}

.leap-year {
    /*fill: red;*/
}

.label-leap {
    fill: red;
    font-size: 1.4px;
    font-variant: small-caps;
    user-select: none;
}

.hider {
    fill: white;
}

.year-window {
    stroke: black;
    fill: none;
    stroke-width: 0.2;
}

.hidden {
    display: none;
}

#output {
  padding: 20px;
  text-align: center;
}

.print-only {
     display: none;
}

@media print {
    html, body, .page {
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .web-options {
        display: none;
    }

    fieldset {
        display: none;
    }

    .label-day {
        fill: black;
    }

    .label-year {
        fill: black;
    }

    .print-only {
        /* class only used on .page divs */
        display: table;
    }

    .hider,
    #months-outer-arc, #weekdays-outer-ring,
    #months-group, #years-group, #daynumbers-group, #weekdays-group {
        display: none;
    }

    #first-page #months-outer-arc,
    #first-page #months-group, /* ticks on ring + months + year-window */
    #first-page #months-inner-ring /* for cutting away the inside */
    {
        display: block;
    }

    #second-page #years-cutting-ring, /* for cutting away the outside */
    #second-page #years-group, /* just years, no ticks */
    #second-page #weekdays-group, /* ticks + days of week,
                               will be glued over, but needed for alignment! */
    #second-page #floater-ring /* for showing where to glue page four */
    {
        display: block;
    }

    #third-page #months-inner-ring, /* for cutting away the outside (¡¡¡except for handle!!!) */
    #third-page #daynumbers-group, /* day numbers, no ticks */
    #third-page #floater-ring /* for cutting away the inside */
    {
        display: block;
    }

    #fourth-page #weekdays-outer-ring, /* cut outside */
    #fourth-page #weekdays-group /* ticks + days of week */
    /* no extra stuff since the centre is on top of the paper construction. */
    {
        display: block;
    }
}

/*
vertical centering:
position absolute 50% 50% --> linke-obere Ecke des SVG ist dann in der Mitte des Blattes.
transform: verschieben um 50% seiner eigenen Größe (nicht Größe der Seite wie
 */
